@(form: Form[Application.InputForm])

@welcome{
    <div class="container">
        @helper.form(routes.Pictures.doUpload(), 'enctype -> "multipart/form-data"){
            <h2>Bilder hochladen</h2>
            @helper.inputText(form("pictureName"), 'class->"form-control", 'type->"text", '_label->"Name:")
            @helper.inputText(form("description"), 'class->"form-control", 'type->"text", '_label->"Beschreibung:")
            @helper.input(form("file"), '_label->"Bild:") { (id, name, value, args) =>
                <input id="@id" name="@name" type="file" class="filestyle" data-buttonBefore="true" data-icon="false" multiple="false" data-buttonText="Bild ausw&auml;hlen" @toHtmlArgs(args)>
            }
            @helper.checkbox(form("isPublic"), '_label->"Öffentlich")
            <br />
            <button type="submit" class="btn btn-default">Hochladen</button>
            <br />
        }
    </div>
}
